[Desktop Entry]
Type=Application
Version=1.0
Name=Install Arrera Blue 2026
Name[fr]=Installer Arrera Blue 2026
GenericName=System Installer
GenericName[fr]=Installateur du système
Comment=Install Arrera Blue 2026 to disk
Comment[fr]=Installer Arrera Blue 2026 sur le disque
Exec=env QT_QPA_PLATFORMTHEME=gnome GTK_THEME=Adwaita:dark calamares -d
Icon=calamares
Terminal=false
StartupNotify=true
Categories=System;Settings;PackageManager;
Keywords=system;installer;fedora;arrera;calamares;
